/* main.css */

html, body, h1, h2, h3, h4, p, div, ul, ol, li {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	font-family: Lato, "helvetica-neue", "helvitica", sans-serif;
}

.container {
	height: 600px;
}

/* header/main navigation*/
header {
	background-color: transparent;
	color: #000000;
	height: 100px;
	margin: 0 auto;
	width: 100%

	
}

.nav_main {
	height: 100px;
	background-color: transparent;
	text-align: center;
	position: fixed;
	margin: 0 auto;
	width: 100%;
}

nav {
	width: 100%;
	display: inline-block;
	margin: 0 auto;
	height: 100%;
	
}
nav li {
	display: inline;
	padding-left: 10px

}
nav li a {
	text-decoration: none;
	color: #e6e6e6;
	padding-right: 5px;
}



.nav_logo {
	float: left;
	width: 25%;
	height: 100%;
	
}
.logo_container {
	height: 100%;
	position: relative;
	left: 80px;
	padding-top: 15px;
	min-width: 280px;
}

.nav_logo a {
	opacity: 100;
	color: #000000;
	font-family: Abel, Lato, "helvetica-neue";
	height: 100%;
	font-size: 48px;
	text-decoration: none;

}

.nav_list {
	width: 50%;
	margin: 40px auto 0;
	padding-right: 40px;
}

.mobile_drop_menu {
	display: none;
}

.nav_contact {
	float: right;
	width: 24.9%;
	margin-top: -20px;

	
}

.nav_contact a {
	text-decoration: none;
	color: #304155;
	font-weight: 600;
	letter-spacing: 3px;
	padding: 10px 30px;
	border: 4px solid #304155;

}

@media screen and (max-width: 980px) {
	.nav_contact {
		display: none;
	}
	.nav_list {
		float: right;
		max-width: 60px;
		height: 100%;
		margin-top: 0;

	}
	.nav_list ul {
		display: none;
	}
	.mobile_drop_menu {
		display: initial;
	}
	.mobile_drop_menu img {
		max-height: 140px;
		position: relative;
		top: -15px;
		right: 50px;	}
}




/* main */
 
.title {
	font-size: 80px;
	margin: 90px auto 0;
	text-align: center;
	height: 400px;
	padding-right: 40px;
}

.title h1 {
	margin-bottom: 0;
}

.skills {
	background-color: #262626;
	margin: 0;
}

.skills h3, .projects h3 {
	font-size: 140px;
	text-align: center;
	color: #ffffff;
	padding-top: 200px;
	margin-top: 0;
}

.projects {
	background-color: #4CD6D6;
	margin-top: -20px;
}

.about h3 {
	font-size: 140px;
	text-align: center;
	color: #304155;;
	padding-top: 200px;
	margin-top: 0;
}

.contact {
	font-size: 140px;
	text-align: center;
	background-color: #F5FE00;

}

.contact h3 {
	padding-top: 200px;
	margin-top: 0;
	
}


/* footer */

footer {
	height: 80px;
	text-align: center;
	font-family: Lato, "helvetica-neue", helvitica, sans-serif;
	font-size: 18px;
	background-color: #304155;
	color: #ffffff;
	letter-spacing: 3px;
	font-weight: 300;
}

footer p {
	padding-top: 30px;
	margin-top: 0;
}